/* searchBar */
.search_bar{display:inline-block;width:calc(100% - 533px);height:34px;border:1px solid #ccc;border-radius:5px;margin:10px 0 0 24px;}
.sch_btn{position:relative;display:inline-block;width:30px;height:34px;text-align:center;padding:0 1px 0 0;background:url(/alba/img/common/bu_schBar.gif) no-repeat 100% 50%;;float:left;}
.sch_btn .sod_select{width:30px;height:34px;background:none;padding:0;}
.sch_btn .sod_select:after{content:"";right:0;top:0;border-left:none;font-size:0;}
.sch_btn .sod_label{width:100%;text-indent:-9999em;background-image:url(/alba/img/common/btn_allCate.png);background-repeat:no-repeat; background-position:center 50%;padding:0 !important;}

/* 검색이미지 */
.sch_btn .sod_list:before{margin-right:-4px;border-color:rgba(212, 212, 212, 0);border-bottom-color:#d4d4d4;border-width:8px;}
.sch_btn .sod_list:after, .sch_btn .sod_list:before{content:"";position:absolute;bottom:100%;left:10px;border:solid transparent;height:0;width:0;pointer-events:none;}
.sch_btn .sod_list:after{border-color:rgba(255, 255, 255, 0);border-bottom-color:#ffffff;border-width:6px;}
.sch_btn .sod_list{left:0;}
.sch_btn .sod_list li{padding:2px 10px 2px 30px !important;}
.sch_btn .sod_list li.total0{background:url(/alba/img/common/btn_allCate.png) no-repeat 5px 50%;}
.sch_btn .sod_list li.active.total0{background:#f5f5f5 url(/alba/img/common/btn_allCate.png) no-repeat 5px 50%;}
.sch_btn .sod_list li.total1{background:url(/alba/img/ico/ico_schTag.png) no-repeat 5px 50%;}
.sch_btn .sod_list li.active.total1{background:#f5f5f5 url(/alba/img/ico/ico_schTag.png) no-repeat 5px 50%;}

.searchWord_box{display:inline-block;width:calc(100% - 162px);float:left;}
.select_array{float:right;}

.sod_select, .sod_select *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;}
.sod_select{position:relative;display:inline-block;width:110px;height:34px;line-height:34px;text-align:center;padding:0 10px;background:url(/alba/img/common/bu_sltBar.gif) no-repeat 0 50%;cursor:pointer;}
.sod_select:before, .sod_select:after{content:"";position:absolute;right:30px;top:10px;bottom:10px;}
.sod_select:after{content:"\25BC";right:10px;top:0;border-left:none;font-size:7px;}
.sod_select.above:after{content:"\25B2";}
.sod_select:hover, .sod_select.open, .sod_select.focus{}
.sod_select.open{color:#838383;}
.sod_select.focus{}
.sod_select.disabled{border-color:#d4d4d4;color:#b2b2b2;cursor:not-allowed;}
.sod_select.disabled:hover{background:#fcfcfc;}
.sod_select .sod_label{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-right:15px;}
.sod_select .sod_prefix{/* Use this if you're using a prefix and want to style it */}
.sod_select .sod_placeholder{/* Use this if you're using a placeholder and want to style it */}
.sod_select .sod_list{position:absolute;top:100%;right:0;display:none;height:auto;width:150px;margin:10px 0 0 0px;border:1px solid #d4d4d4;border-radius:3px;box-shadow:0 2px 4px rgba(0,0,0,.1);background:#ffffff;color:#808080;font-weight:300;z-index:1;}
.sod_select.open .sod_list{display:block;}
.sod_select.disabled.open .sod_list{display:none;}
.sod_select.above .sod_list{top:auto;bottom:100%;margin:0 0 10px -1px;border:1px solid #d4d4d4;box-shadow:0 -2px 4px rgba(0,0,0,.1);}
.sod_select .sod_list:after, .sod_select .sod_list:before{content:"";position:absolute;bottom:100%;right:10px;border:solid transparent;height:0;width:0;pointer-events:none;}
.sod_select.above .sod_list:after, .sod_select.above .sod_list:before{top:100%;bottom:auto;}
.sod_select .sod_list:after{border-color:rgba(255, 255, 255, 0);border-bottom-color:#ffffff;border-width:6px;}
.sod_select.above .sod_list:after{border-color:rgba(255, 255, 255, 0);border-top-color:#ffffff;}
.sod_select .sod_list:before{margin-right:-2px;border-color:rgba(212, 212, 212, 0);border-bottom-color:#d4d4d4;border-width:8px;}
.sod_select.above .sod_list:before{border-color:rgba(255, 255, 255, 0);border-top-color:#d4d4d4;}
.sod_select .sod_list ul{overflow-y:auto;padding:0 4px;margin:4px 0;border-radius:3px;}
.sod_select .sod_list li{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;position:relative;padding:2px 10px;list-style-type:none;border-bottom:1px solid #e8e8e8;text-align:left;}
.sod_select .sod_list li:last-child{border-bottom:none;}
.sod_select .sod_list .optgroup, .sod_select .sod_list .optgroup.disabled{background:inherit;color:#939393;font-size:10px;font-style:italic;}
.sod_select .sod_list .groupchild{padding-left:20px;}
.sod_select .sod_list .disabled{background:inherit;color:#cccccc;}
.sod_select .sod_list .active{background:#f7f7f7;border-radius:3px;color:#676767;}
.sod_select .sod_list .selected{padding-right:25px;font-weight:700;}
.sod_select .sod_list .selected:before{content:""; position:absolute; right:10px; top:50%; -webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%); display:inline-block; color:#808080; height:9px; width:10px; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTAgOSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8cGF0aCBmaWxsPSIjRDlEOUQ4IiBkPSJNNCw2LjdDMy42LDYuMywzLjUsNi4xLDMuMSw1LjdDMi42LDUuMiwyLDQuNiwxLjUsNC4xYy0wLjgtMC44LTIsMC40LTEuMiwxLjJjMC45LDAuOSwxLjksMS45LDIuOCwyLjgNCgkJYzAuNywwLjcsMS4zLDEsMiwwQzYuNyw2LDguMywzLjcsOS44LDEuNUMxMC41LDAuNSw5LTAuMyw4LjMsMC42bDAsMEM2LjcsMi45LDUuNyw0LjQsNCw2LjciLz4NCjwvZz4NCjwvc3ZnPg0K);}
.sod_select.no_highlight .sod_list .selected:before{display:none;}
.sod_select .sod_list .link{/* If data-link is set on a specific option */}
.sod_select .sod_list .linkexternal{/* If data-link-external is set on a specific option */}/* Hide native select */
.sod_select select{display:none !important;}
.sod_select.touch select{-webkit-appearance:menulist-button;position:absolute;top:0;left:0;display:block !important;height:100%;width:100%;opacity:0;z-index:1;}


/* 모바일 */
@media all and (max-width:1024px){
.search_bar{display:inline-block;width:calc(100% - 304px);height:34px;margin:20px 0 0 0;border:none;}
.sch_btn{display:none;}
.searchWord_box{display:none;}
.select_array{display:block;width:200px;margin:0 auto;padding:0;float:none;background:url(*)}
.select_array .sod_select{width:140px;background:none;}
.select_array .sod_label{font-size:16px;}
}
